@import '../../style/colors';

.schedule {
  height: 500px;
  width: 1000px;
  position: relative;
  background-color: $purple;
  color: $white;
  background-image: linear-gradient(74deg, #130A42 30%, #A40B5A 100%);
}

.schedule__pattern {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.schedule__content {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}

.schedule__heading {
  font-family: 'Peace Sans';
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  // font-size: 1.7rem;
  font-size: 27px;
  font-smooth: always;
}

.schedule__sub-heading {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.06205em;
}

.schedule__head {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.schedule__nf-logo {
  height: 3rem;
  margin-top: -1.25rem;
}

.schedule__body {
  flex-grow: 1;
  align-items: center;
}

.schedule__body--schedule-layout {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 0.5rem;
}

.schedule__body--schedule-layout.schedule__body--simple {
  max-width: 800px;
  margin: auto;
  width: 100%;
}

.schedule__body--schedule-layout.schedule__body--complex {
  grid-template-columns: 1fr 1fr;
}

.schedule__body--results-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.schedule__body--results-layout.schedule__body--complex {
  grid-template-columns: 1fr 1fr 1fr;
}
