@import '../../style/colors';

.widget-layout {
  margin: 7rem auto;
}

.widget-layout__preview {
  pointer-events: none;
  user-select: none;
}

.widget-layout__form {
  max-width: 30rem;
  margin: 0 auto 3rem;
}

.widget-layout__submit-btn {
  margin-left: auto;
  display: block;
  margin-top: 1rem;
}
