.image-field {
  display: flex;
  margin: 0 0 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.image-field__label {
  display: inline-block;
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 0 0.5rem;
  margin: 0 -0.5rem;
}

.image-field__input {
  align-self: stretch;
}

.image-field__error {
  background-color: red;
  margin: 0.5rem 0 0;
  color: white;
  align-items: stretch;
  padding: 0.25rem;
}


.image-field__file-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.image-form__row {
  display: flex;
}

.image-field__button {
  flex-shrink: 0;
}

.image-form__paste-input {
  flex-grow: 1;
  margin-left: 1em;
}
