.match-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-line__team-logo {
  height: 90px;
}

.match-line__team {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
}

.match-line__team-home {
  flex-direction: row-reverse;
}

.match-line__team-score {
  font-family: 'Peace Sans';
  font-size: 70px;
  line-height: 1;
  padding-left: 30px;
  padding-right: 30px;
}

.match-line__team-away .match-line__team-score {
  padding-left: 40px;
  margin-left: auto;
}

.match-line__team-home .match-line__team-score {
  padding-right: 40px;
  margin-right: auto;
}
